<div id="bd">
<table class="tb_1">
<caption>
<div class="left">
&nbsp;
/f/{{.currentDir}}/ &nbsp;
<a href="/file?op=new&dir={{.currentDir}}"><img src="/res/img/list-add.png"></a>
</div>
</caption>
<thead>
 <tr>
  <th width="50px">no</th>
  <th>
  {{if .isSubDir}}
  <span class="left"><a href="/file?name={{.currentDir|escape}}/../">../</a></span>
  {{end}}
  Name
  </th>
  <th width="100px">Size</th>
 </tr>
</thead>
<tbody>
{{range $k,$file:=.files}}
<tr>
  <td class="t_c">{{$k}}</td>
  <td>
    <a href="{{$file.Link}}">
    {{if $file.IsDir}} <img src="/res/img/folder.png">{{else}}<img src="/res/img/text.png">{{end}}
    {{$file.Name}}
    </a>
    &nbsp;
    {{if $file.IsDir}}
         <a href="/file?op=new&dir={{$file.Name|escape}}"> <img src="/res/img/list-add.png"></a>
    {{else}}
         <a href="/f/{{$file.Name}}" target="_blank"><img src="/res/img/view.png"></a>
    {{end}}
  </td>
  <td>{{$file.Size}}</td>
</tr>
{{end}}
</tbody>
</table>
</div>