<div id="bd">
<table class="tb_1">
<caption>
File List( {{.currentDir}} 
<a href="/file?op=new&dir={{.currentDir}}">new</a>
)</caption>
<thead>
 <tr>
  <th width="50px">no</th>
  <th>
  {{if .isSubDir}}
  <span class="left"><a href="/file?name={{.currentDir}}/../">../</a></span>
  {{end}}
  Name
  </th>
  <th width="100px">Size</th>
  <th width="200px">Op</th>
 </tr>
</thead>
<tbody>
{{range $k,$file:=.files}}
<tr>
  <td class="t_c">{{$k}}</td>
  <td>
    <a href="{{$file.Link}}">{{$file.Name}}</a>
  </td>
  <td>{{$file.Size}}</td>
  <td>
    {{if $file.IsDir}}
         <a href="/file?op=new&dir={{$file.Name}}">new</a>
    {{else}}
    {{end}}
  </td>
</tr>
{{end}}
</tbody>
</table>
</div>